<div class="container mx-auto pt-5">
  <h1 class="text-5xl font-normal leading-normal">Tailwind CSS + Stimulus + Responsive Layout</h1>
  <%# <p class="text-base font-light leading-relaxed mt-5">Source: https://www.youtube.com/watch?v=jaZLEaEkEMY</p> %>
  <a href="https://www.youtube.com/watch?v=mKNb7G-8jL8" class="text-yellow-600 no-underline hover:underline">Responsive Layout</a>
  </br>
  <a href="https://www.youtube.com/watch?v=jaZLEaEkEMY" class="text-yellow-600 no-underline hover:underline">Stimulus</a>
  <%= render "layouts/counter_widget" %>
</div>
